
/gw
/src/segments.o
/src/plot_manager.o
/src/params.o
/src/main.o
/src/labeller.o
/src/utils.o
/src/themes.o
/src/hts_funcs.o
/src/drawing.o
/src/drawing_t.o
/src/plot_keys.o
/src/text_input.o
/src/glfw_keys.o
/src/plot_controls.o
/src/*.cpp.*.*
/lib/skia/include/
/lib/skia/third_party/
/lib/skia/include/
/lib/skia/modules/
/lib/skia/out/
/lib/skia/src/
/images/
/src/parser.o
/src/term_out.o
/test/test.fa.fai
/lbl.txt
/src/menu.o

/lib/libBigWig/bwRead.o
/lib/libBigWig/bwStats.o
/lib/libBigWig/bwValues.o
/lib/libBigWig/bwWrite.o
/lib/libBigWig/io.o
