./gw
./src/*.o
./.*
/gw
/src/segments.o
/src/plot_manager.o
/src/params.o
/src/main.o
/src/labeller.o
/src/utils.o
/src/themes.o
/src/hts_funcs.o
/src/drawing.o
/src/drawing_t.o
/src/plot_keys.o
/src/text_input.o
/src/glfw_keys.o
/src/plot_controls.o
/lib/skia/third_party/
/lib/skia/include/
/lib/skia/modules/
/lib/skia/out/
/lib/skia/src/
